<%= render partial: "event_menu" if  @event.persisted? %>

<%= form_for [:admin, @event] do |f| %>
<fieldset>
  <p><%= f.label(:name, "Name") %></p>
  <%= error_message(@event, :name) %>
  <p><%= f.text_field :name %></p>

  <p><%= f.label(:place, "Place") %></p>
  <%= error_message(@event, :place) %>
  <p><%= f.text_field :place %></p>

  <p><%= f.label(:scheduled_at, "Workshop date") %></p>
  <%= error_message(@event, :scheduled_at) %>
  <p><%= f.date_select :scheduled_at %></p>

  <p><%= f.label(:start_time, "Workshop starts at:") %></p>
  <%= error_message(@event, :start_time) %>
  <p><%= f.text_field :start_time %></p>

  <p><%= f.label(:end_time, "Workshop ends at:") %></p>
  <%= error_message(@event, :end_time) %>
  <p><%= f.text_field :end_time %></p>

  <p><%= f.label(:coach_the_coaches_date, "Coach the Coaches date:") %></p>
  <%= error_message(@event, :coach_the_coaches_date) %>
  <p><%= f.date_select :coach_the_coaches_date %></p>

  <p><%= f.label(:coach_the_coaches_start_time, "Coach the coaches starts at:") %></p>
  <%= error_message(@event, :coach_the_coaches_start_time) %>
  <p><%= f.time_select :coach_the_coaches_start_time %></p>

  <p><%= f.label(:coach_the_coaches_end_time, "Coach the coaches ends at:") %></p>
  <%= error_message(@event, :coach_the_coaches_end_time) %>
  <p><%= f.time_select :coach_the_coaches_end_time %></p>

  <p><%= f.label(:installation_get_together_date, "Installation Get-Together date:") %></p>
  <%= error_message(@event, :installation_get_together_date) %>
  <p><%= f.date_select :installation_get_together_date %></p>

  <p><%= f.label(:installation_get_together_start_time, "Installation Get-Together starts at:") %></p>
  <%= error_message(@event, :installation_get_together_start_time) %>
  <p><%= f.time_select :installation_get_together_start_time %></p>

  <p><%= f.label(:installation_get_together_end_time, "Installation Get-Together ends at:") %></p>
  <%= error_message(@event, :installation_get_together_end_time) %>
  <p><%= f.time_select :installation_get_together_end_time %></p>

  <p><%= f.label(:application_start, "Applications start on:") %></p>
  <%= error_message(@event, :application_start) %>
  <p><%= f.date_select :application_start %></p>

  <p><%= f.label(:application_end, "Applications end on:") %></p>
  <%= error_message(@event, :application_end) %>
  <p><%= f.date_select :application_end %></p>

  <p><%= f.label(:confirmation_date, "Confirmation emails sent by:") %></p>
  <%= error_message(@event, :confirmation_date) %>
  <p><%= f.date_select :confirmation_date %></p>

	<p><%= f.label(:confirmation_deadline, "Days to confirm participation:") %></p>
	<%= error_message(@event, :confirmation_deadline) %>
	<p><%= f.number_field :confirmation_deadline %></p>

	<p><%= f.label(:reminder_date, "Days to send the reminder email:") %></p>
	<%= error_message(@event, :reminder_date) %>
	<p><%= f.number_field :reminder_date %></p>

  <p><%= f.label(:coach_registration_enabled, "Coach registration enabled?") %> <%= f.check_box :coach_registration_enabled %></p>
	<%= error_message(@event, :coach_registration_enabled) %>

  <% unless @event.persisted? %>
  <p><%= f.label(:copy_templates_from_event_id, "Use email templates from event:") %></p>
  <%= error_message(@event, :copy_templates_from_event_id) %>
  <p><%= f.collection_select(:copy_templates_from_event_id, Event.order(:scheduled_at), :id, :name_and_date, prompt: "Leave templates empty") %></p>
  <% end %>

</fieldset>

<div class='button'>
  <%= f.submit "Save", class: 'commit', type: 'submit' %>
</div>
<% end %>
