<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td>
        <%= event.name %>
      </td>
      <td>
        <%= event.scheduled_at.strftime("%d.%m.%Y") %>
      </td>
      <td class="actions">
        <%= link_to 'Applicants', admin_event_applications_path(event), method: :get %>
        <%= link_to 'Attendees', admin_event_attendants_path(event), method: :get %>
        <%= link_to 'Edit', edit_admin_event_path(event), method: :get %>
        <%= link_to 'Group', admin_event_groups_path(event) %>
        <%= button_to 'Delete', admin_event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
  </tr>
    <%end %>
  </tbody>
</table>

<p><%= button_to 'Add event', new_admin_event_path, method: :get  %></p>
