<h1 class="text-center text-3xl my-5"><%= @event.name %> <%= l @event.installation_get_together_date, format: :short %> & <%= l @event.scheduled_at %> </h1>

<article>
  <% if @application.nil? || @application.errors.empty? %>
    <p class="mb-3">
      Code curious wants to give total beginners the opportunity and a community to start learning the technology to build their ideas and continue coding.
    </p>

    <p class="mb-3">
      The Beginners Workshop is a hands-on introduction to Rails. 
      The workshop is meant for women, non-binary and trans people with no previous programming experience. 
      The program of the workshop includes an overview of the Rails framework and a practical exercise 
      in which attendees will be guided by coaches through the application building process.
    </p>
    
    <p class="mb-3">
      We provide a completely different learning environment in order to not only support but also further motivate women and under-represented groups, 
      who want to learn how to code, but don’t have the right environment to do so. 
      We are a community, so this event often is the ignition point for a career change (even if it takes a while) for many of our attendees.
    </p>

    <p class="mb-3">No previous knowledge is required to attend this workshop.</p>

    <p class="mb-3">
      The first steps of learning how to code can be difficult. Our goal is to help you with these first steps. 
      We want to show you that programming is fun and creative and that there is a wonderful community ready to support your journey.
    </p>

    <div id="greeting">
      <h3>We are looking forward to seeing you <3 </h3>
    </div>

  <% end %>
</article>

<aside class="grid grid-cols-4 gap-4 my-5">
  <div>
    <h3 class="font-bold text-l">Application Start:</h3>
    <span><%= l @event.application_start %></span>
  </div>
  <div>
    <h3 class="font-bold text-l">Application End:</h3>
    <span><%= l @event.application_end %></span>
  </div>
  <div>
    <h3 class="font-bold text-l">Confirmation Mails:</h3>
    <span><%= l @event.confirmation_date %></span>
  </div>
  <div>
    <h3 class="font-bold text-l">Location:</h3>
    <span><%= @event.place %></span>
  </div>
</aside>
