<h1>Application</h1>
<!--p>Find me in app/views/applications/new.html.erb</p-->

<%= form_for @application do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %>Application could not be saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><%= f.label(:name) %> <%= f.text_field :name %> </p>
<p><%= f.label(:email) %> <%= f.text_field :email %> </p>
<p><%= f.label(:language_de) %> <%= f.check_box :language_de %></p>
<p><%= f.label(:language_en) %> <%= f.check_box :language_en %></p>
<p><%= f.label(:attended_before) %> <%= f.check_box :attended_before %></p>
<p><%= f.label(:rejected_before) %> <%= f.check_box :rejected_before %></p>
<p><%= f.label(:level) %> <%= f.number_field(:level, in: 0..10, step: 1) %></p>
<p><%= f.label(:comments) %> <%= f.text_area :comments %></p>
<p><%= f.label(:os) %> <%= f.select(:os, options_for_select([["Linux", "linux"], ["Mac", "mac"], ["Windows", "windows"]]), include_blank: true) %></p>
<p><%= f.label(:needs_computer) %> <%= f.check_box :needs_computer %></p>
<p><%= f.label(:read_coc) %> <%= f.check_box :read_coc %></p>
<%= f.submit "Create" %>
<% end %>
