<p>Total: <%= pluralize(@coach_applications.size, "application") %> </p>

<%= form_tag({}, method: :put) do %>
<table>
  <thead>
    <tr>
      <th><%= link_to("No.", order: order("sequence_number"), class: "table-header-link") %></th>
      <th><%= link_to("Status", order: order("state"), class: "table-header-link") %></th>
      <th><%= link_to("Name", order: order("upper(name)"), class: "table-header-link") %></th>
      <th><%= link_to("Email", order: order("upper(email)"), class: "table-header-link") %></th>
      <th><div class="tooltip"><span class="tooltiptext">English</span><%= link_to("🇬🇧", order: order("language_en")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">German</span><%= link_to("🇩🇪", order: order("language_de")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Female</span>👩</div></th>
      <th><div class="tooltip"><span class="tooltiptext">Installation party</span>🖥</div></th>
      <th><div class="tooltip"><span class="tooltiptext">Workshop day</span>🎓</div></th>
      <th><div class="tooltip"><span class="tooltiptext">Lightning talk</span>🗣</div></th>
      <th><%= link_to("Date", order: order("created_at"), class: "table-header-link") %></th>
      <th><%= link_to("Comments", order: order("notes"), class: "table-header-link") %></th>
    </tr>
  </thead>
  <tbody>
    <% @coach_applications.each do |application| %>
    <tr>
      <td><%= application.id %>.</td>
      <td class="<%= application.state %>"><%= select_tag "state[#{application.id}]", options_for_select(coach_application_states_for_select, application.state) %></td>
      <td><%= application.coach.name %></td>
      <td><%= application.coach.user.email %></td>
      <td class="center"><% if application.coach.language_en %> ✅ <% end %></td>
      <td class="center"><% if application.coach.language_de %> ✅ <% end %></td>
      <td class="center"><% if application.coach.female %> ✅ <% end %></td>
      <td class="center"><% if application.installationparty %> ✅ <% end %></td>
      <td class="center"><% if application.workshopday %> ✅ <% end %></td>
      <td class="center"><%= application.lightningtalk %></td>
      <td><%= l application.created_at, format: :date %></td>
      <td class="shorten-long-text"><%= application.notes %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><%= submit_tag "Save" %></p>
<% end %>
