<p><%= button_to("Download table as csv", {format: "csv"}, {method: :get}) %></p>

<% if @event.selection_complete %>
  <h3>The selection is completed and confirmation e-mails have been sent. If you select additional applicants, please click the "Send e-mails" button to send them the e-mail.</h3>
  <p><%= button_to "Send e-mails", admin_event_send_emails_path(@event), method: :put, data: { confirm: "Are you sure? This will send e-mails to the selected applicants." } %></p>
<% else %>
  <p><%= button_to 'Selection complete', admin_event_complete_path(@event), method: :put, data: { confirm: "Are you sure? This will send e-mails to the selected applicants." } %></p>
<% end %>

<p>Total: <%= pluralize(@applications.size, "application") %></p>
<p>Selected: <%= pluralize(@applications.selected.size, "application") %></p>
<p>Confirmed: <%= pluralize(@applications.selected.confirmed.size, "application") %></p>
<p>E-mail pending: <%= pluralize(@applications.selected.not_marked_as_selected.size, "application") %></p>

<%= form_tag({}, method: :put) do %>
<table>
  <thead>
    <tr>
      <th><%= link_to("No.", order: order("sequence_number")) %></th>
      <th>State</th>
      <th>Select</th>
      <th><%= link_to("Confirmed", order: order("attendance_confirmed")) %></th>
      <th><%= link_to("Name", order: order("upper(name)")) %></th>
      <th><%= link_to("Email", order: order("upper(email)")) %></th>
      <th><div class="tooltip"><span class="tooltiptext">English</span><%= link_to("ðŸ‡¬ðŸ‡§", order: order("language_en")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">German</span><%= link_to("ðŸ‡©ðŸ‡ª", order: order("language_de")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Attended before</span><%= link_to("ðŸ‘", order: order("attended_before")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Rejected before</span><%= link_to("ðŸ‘Ž", order: order("rejected_before")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Level</span><%= link_to("ðŸŽ“", order: order("level")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Operating System</span><%= link_to("ðŸ–¥", order: order("os")) %></div></th>
      <th><div class="tooltip"><span class="tooltiptext">Needs computer</span><%= link_to("ðŸ’»", order: order("needs_computer")) %></div></th>
      <th><%= link_to("Date", order: order("created_at")) %></th>
      <th><%= link_to("Comments", order: order("comments")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
    <tr>
      <td><%= application.sequence_number %>.</td>
      <td>
        <%= radio_button_tag "state[#{application.id}]", :rejected, application.rejected? %>
        <%= radio_button_tag "state[#{application.id}]", :waitinglist, application.waitinglist? %>
        <%= radio_button_tag "state[#{application.id}]", :applicationselected, application.applicationselected? %>
      </td>
      <td><%= check_box_tag 'selected_ids[]', application.id, application.selected, id: "select_applicant_#{application.id}" %></td>
      <td><%= check_box_tag 'confirmed_ids[]', application.id, application.attendance_confirmed, id: "confirm_applicant_#{application.id}" %></td>
      <td><%= application.name %></td>
      <td><%= application.email %></td>
      <td class="center"><% if application.language_en %> âœ… <% end %></td>
      <td class="center"><% if application.language_de %> âœ… <% end %></td>
      <td class="center"><% if application.attended_before %> âœ… <% end %></td>
      <td class="center"><% if application.rejected_before %> âœ… <% end %></td>
      <td class="center"><%= application.level %></td>
      <td><%= application.os %></td>
      <td class="center"><% if application.needs_computer %> âœ… <% end %></td>
      <td><%= application.created_at.strftime("%d.%m.%Y") %></td>
      <td class="shorten-long-text"><%= application.comments %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><%= submit_tag "Save" %></p>
<% end %>
