<% if @event.has_groups? %>

  <div class="info-wrapper cc-gradient">
    <div class="info">Attendees: <%= @attendees_count %></div>
    <div class="info">Coaches: <%= @coaches_count %></div>
  </div>
  <%= button_to "Regenerate groups", regenerate_admin_event_groups_path(@event), method: :post %>
  <% @event_groups.each do |event_group| %>
    <h2><%= event_group.name %></h2>
    <table>
      <thead>
        <tr>
          <th>Attendees</th>
          <th>Coaches</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% event_group.applications.map do |application| %>
              <div class="grid-wrapper">
                <span>
                  <%= application.name %>
                </span>
                <span class="tag cc-gradient">
                  <% if application.language_de === true && application.language_en === true %>
                    both languages
                  <% elsif application.language_de === true && application.language_en === false %>
                    German
                  <% else %> 
                    English
                  <% end %>
                </span>
                <span class="tag cc-gradient-reverse">
                  <% if application.os === "mac" %>
                    Mac
                  <% elsif application.os === "windows" %>
                    Windows
                  <% elsif application.os === "linux" %>
                    Linux
                  <% end %>
                </span>
              </div>
            <% end %>
          </td>
          <td>
            <% event_group.coach_applications.map do |application| %>
              <div class="grid-wrapper">
                  <span>
                    <%= application.coach.name %>
                  </span>
                  <span class="tag cc-gradient">
                    <% if application.coach.language_de === true && application.coach.language_en === true %>
                      both languages
                    <% elsif application.coach.language_de === true && application.coach.language_en === false %>
                      German
                    <% else %> 
                      English
                    <% end %>
                  </span>
                </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <%end %>

<% else %>
  <%= button_to "Generate groups", generate_admin_event_groups_path(@event), method: :post %>
<% end %>
