<% if @event.has_groups? %>

  <%= button_to "Regenerate groups", regenerate_admin_event_groups_path(@event), method: :post %>
  <% @event_groups.each do |event_group| %>
    <h2><%= event_group.name %></h2>
    <table>
      <thead>
        <tr>
          <th>Attendees</th>
          <th>Coaches</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= event_group.applications.map(&:name).join("<br>").html_safe %>
          </td>
          <td>
            <% event_group.coach_applications.map do |application| %>
              <%= application.coach.name %>
              <br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <%end %>

<% else %>
  <%= button_to "Generate groups", generate_admin_event_groups_path(@event), method: :post %>
<% end %>
