
<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Admin</th>
      <th>Coach</th>
      <th>Block | Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <% if user.admin? %>
          ✅
          <% if user != current_user %>
            <%= button_to "Remove rights", admin_user_path(user), method: "put" %>
          <% end %>
        <% else %>
          <%= button_to "Make admin", admin_user_path(user), method: "put" %>
        <% end %>
      </td>
      <td>
        <% if user.coach %>
          ✅
        <% end %>
      </td>
      <td class="actions">
        <% if user != current_user && !user.coach %>
          <%= button_to "Delete", admin_user_path(user), method: "delete", data: { confirm: "Are you sure you want to delete this user?" } %>
        <% elsif user.coach && user.is_blocked %>
          <%= button_to "Unblock", unblock_admin_user_path(user), method: "put", class: "unblock-button" %>
          <%= button_to "Delete", admin_user_path(user), method: "delete", data: { confirm: "Are you sure you want to delete this user?" } %>
        <% elsif user.coach %>
          <%= button_to "Block", block_admin_user_path(user), method: "put" %>
          <%= button_to "Delete", admin_user_path(user), method: "delete", data: { confirm: "Are you sure you want to delete this user?" } %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
