<!DOCTYPE html>
<html>
  <head>
    <title>Rgbapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

  </head>

  <body>
    <header>

    <div class="section-boxed section-header">
        <div="logo-container">
            <a style="background: url(<%= image_path("logomitschrift.png") %>) no-repeat;" id="mitschrift" href="http://railsgirlsberlin.de/beginners-workshop/" target="_blank"></a>
        </div>
    </header>

    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
